button {
    color: #fff;
    background-color: #212121;
    border: solid blue 1px; //sæt faveskift funktion -variabel ind (linear gradients)
    width: 144px;
    height: 36px;
    font-size: 16px;
}