@import url(../../GlobalStyle.module.scss);
button {
    background-color: #212121;
    //border-image: linear-gradient(to right, rgb(224, 15, 16), rgb(23, 55, 147));
    border-image-slice: 1;
    width: 144px;
    height: 36px;
    font-size: 16px;

}