@import url(../GlobalStyle.module.scss);

.PalletCardStyle {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    padding: 30px;
}


.buttonStyle {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 10px;
    margin-top: 5rem;   
}

.SeperatorCantainer{
    max-width: 60%;
    margin: auto;
    text-align:center;
    justify-content:center;
}

@media only screen and (max-width: 768px){
    .PalletCardStyle{
        max-width: 100vw;
        grid-template-columns:1fr;
    }
    .buttonStyle {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .SeperatorCantainer{
        max-width: 90%
    }
}
