@import url(../GlobalStyle.module.scss);
.Headline {
    margin: auto;
    padding: 3rem;

    h1 {
        text-align: center;
        font-family: var(--fontFamily);
        font-weight: 500;
        font-size: 3em;
        letter-spacing: 4px;
        text-transform:none;
        justify-content: space-between;
        background-image: var(--randomPaletteGradient);
        -webkit-background-clip: text;
        color: transparent;
    }
}
.startButtonContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
  
    
}

  button {
      border-image: var(--randomPaletteGradient) 1 stretch;
    color: var(--textColor);  
    }