@import url(../GlobalStyle.module.scss);
.Headline {
    margin: auto;
    padding: 3rem;

    h1 {
        text-align: center;
        font-family: var(--fontFamily);
        color: var(--textColor);
        font-weight: 500;
        font-size: 3em;
        text-transform:none;
        justify-content: space-between;
        background: linear-gradient(40.80deg, #CF9407 26.79%, #BDBF63 49.8%, #601E3E 57.20%);
        -webkit-background-clip: text;
        color: transparent;
    }
}
.startButtonContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
}
