@import url(../../GlobalStyle.module.scss);

.footer {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: var(--Fontfamily);
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 16px;
    font-weight: 300;
    padding: 1rem;

    h4 {
        font-weight: 300;
        padding: 1rem;
    }
}
